{% if site.footer-links.dribbble %}<a href="https://dribbble.com/{{ site.footer-links.dribbble }}"><i class="fab fa-dribbble footer-icon"></i></a>{% endif %}
{% if site.footer-links.email %}<a href="mailto:{{ site.footer-links.email }}"><i class="fas fa-envelope footer-icon"></i></a>{% endif %}
{% if site.footer-links.facebook %}<a href="https://www.facebook.com/{{ site.footer-links.facebook }}"><i class="fab fa-facebook footer-icon"></i></a>{% endif %}
{% if site.footer-links.flickr %}<a href="https://www.flickr.com/{{ site.footer-links.flickr }}"><i class="fab fa-flickr footer-icon"></i></a>{% endif %}
{% if site.footer-links.github %}<a href="https://github.com/{{ site.footer-links.github }}"><i class="fab fa-github footer-icon"></i></a>{% endif %}
{% if site.footer-links.instagram %}<a href="https://instagram.com/{{ site.footer-links.instagram }}"><i class="fab fa-instagram footer-icon"></i></a>{% endif %}
{% if site.footer-links.linkedin %}<a href="https://www.linkedin.com/in/{{ site.footer-links.linkedin }}"><i class="fab fa-linkedin footer-icon"></i></a>{% endif %}
{% if site.footer-links.pinterest %}<a href="https://www.pinterest.com/{{ site.footer-links.pinterest }}"><i class="fab fa-pinterest footer-icon"></i></a>{% endif %}
{% if site.footer-links.rss %}<a href="{{ site.baseurl }}/feed.xml"><i class="fas fa-rss footer-icon"></i></a>{% endif %}
{% if site.footer-links.twitter %}<a href="https://www.twitter.com/{{ site.footer-links.twitter }}"><i class="fab fa-twitter footer-icon"></i></a>{% endif %}
{% if site.footer-links.stackoverflow %}<a href="http://stackoverflow.com/{{ site.footer-links.stackoverflow }}"><i class="fab fa-stack-overflow footer-icon"></i></a>{% endif %}
{% if site.footer-links.youtube %}<a href="https://youtube.com/{{ site.footer-links.youtube }}"><i class="fab fa-youtube footer-icon"></i></a>{% endif %}
{% if site.footer-links.googleplus %}<a href="https://plus.google.com/{{ site.footer-links.googleplus }}"><i class="fab fa-google-plus-g footer-icon"></i></a>{% endif %}
{% if site.footer-links.qq %}<a href="http://wpa.qq.com/msgrd?v=3&uin={{ site.footer-links.qq }}&site=qq&menu=yes" target="_blank"><i class="fab fa-qq footer-icon"></i></a>{% endif %}
{% if site.footer-links.xiaohongshu %}<a href="https://www.xiaohongshu.com/user/profile/{{ site.footer-links.xiaohongshu }}" target="_blank"><i class="fas fa-book footer-icon" title="Xiaohongshu"></i></a>{% endif %}
